
#title {
    background-color: #FF4c48;
    color: white;  
}


#title .container-fluid {
    padding: 3% 15% 7%;
}

.heading-title {
    text-align: left;
    font-size: 3.5rem;
    line-height: 1.5;
}

#features {
    padding: 10% 10% 10% 10%;
    background-color: white;
    position: relative;
    
}

 body{
    text-align: center;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8F8F8F;
}

.container-fluid {
    padding: 7% 15%;
    
}

.iphone-mockup{
    transform: rotate(20deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

.fas {
    margin-bottom: 2%;
    color: #EF8172;
}

.fas:hover {
    color: #ff4c68;
}


.features-titles{
    font-family: 'Montserrat', sans-serif;
    size: 1.5rem;
}

.features-desc {
    color: #8F8F8F;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}


/* Testimonial Section  */

#testimonials {
    background-color: #EF8172;
    color: #FFFF;
    text-align: center;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: opacity(20%);
   background-color: none;
}

/* Pricing */

#pricing {
    padding: 7% 15%;
}

.pricing-column {
    padding: 3% 2%;
}


@media (max-width: 974px) {

    #title {
        text-align: center;
    }
    .iphone-mockup{
        position: static;
        transform: rotate(0);
    }
}

/* cta section */

#cta {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 10%;
}

.cta-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:400%;
    padding: 10% 15% 2%;
}

.cta-button {
    margin: auto 2%;
}


/* Footer section */

#footer {
    background-color: white;
    padding: 5%;
}

.footer-icon {
    padding: 0 0.5% 1% 0.5%;
}